.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(#eeeeee, #ffffff);
}

.new-game-img {
  margin-right: 8px;
  margin-bottom: -2px;
}

.top-container {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container {
  width: 100%;
  height: 50vh;
  top: 20vh;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
}

.guess-count-container {
  font-size: 0.8rem;
  margin-top: 4px;
}

.label-container {
  font-weight: bold;
  position: absolute;
}

.new-game-container {
  position: absolute;
  top: 85%;
}

.number-container {
  display: flex;
  margin-top: 32px;
}

.bottom-container {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
}
